@media (max-width: 1340px) {
  .product-slider__inner {
    text-align: center;
  }

  .slick-dots {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .header__address {
    margin-right: 25px;
  }

  .banner-section__inner {
    justify-content: space-around;
  }

  .banner-section__slider {
    max-width: 600px;
    min-height: 380px;
  }

  .banner-section__slider-img {
    max-width: 600px;
    min-height: 380px;
    object-fit: cover;
  }

  .categories__inner {
    justify-content: center;
  }

  .categories__item:not(:last-child) {
    margin-right: 15px;
  }

  .catalog__inner-product {
    justify-content: space-around;
  }

  .product-page__inner {
    flex-wrap: wrap;
  }

  .product-page__inner {

    justify-content: center;
  }


}

@media (max-width: 1024px) {
  .footer__top-item {
    margin-bottom: 25px;
    width: 100%;
  }



  .product-page__wrapper {
    display: none;
  }

  .product-page__img-box {
    order: 1;
  }

  .product-page__item-btn {
    margin: 0 auto;

    margin-top: 25px;
  }



  .product-page__img-box {

    margin-right: 0;

  }

  .product-page__item-btn-mobile {
    display: block;
  }

  .tabs-table__form {

    flex-direction: column;
    align-items: flex-start;
  }

  .tabs-table__label {
    margin-top: 15px;
  }

}

@media (max-width: 968px) {
  .page-section {
    margin-bottom: 60px;
  }

  .categories-mb {
    margin-bottom: 40px;
  }

  .header__bottom {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .header__top-inner {
    padding-top: 15px;
    min-height: 65px;
    margin-bottom: 10px;
  }

  .menu-list__wrapper {
    display: block;
  }

  .menu-list {
    display: inline-block;
  }

  .menu-mobile__address {
    margin-top: 50px;
    text-align: center;
  }

  .menu-mobile__address-link {
    font-weight: 700;
  }

  .header__address {
    display: none;
  }

  .banner-section__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section__slider {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .banner-section__slider-img {
    max-width: 100%;
    object-fit: cover;
  }

  .mobile-overflow {
    width: 968px;
  }

  .tabs-wrapper {
    overflow-x: scroll;
    padding: 20px 0 25px 0;
  }

  .mobile-overflow__box {
    overflow-x: scroll;
    padding: 20px 0 25px 0;
  }

  .tabs-wrapper--box {
    padding: 20px 0 0;
    margin-bottom: 25px;
  }

  .footer__top-item {
    width: 100%;
  }

  .tabs-wrapper--no-scroll {
    overflow: hidden;
  }

  .catalog__inner-item {

    margin-right: 10px;
  }

  .catalog__fiter-sorting button {
    display: none;
  }

  .catalog__fiter-select {

    margin-right: 0;
  }

  .tabs-table__text {
    font-size: 14px;

  }

  .tabs-table__label {

    font-size: 14px;

  }

  .tabs-table__title {
    font-size: 16px;
    font-weight: 700;
  }

  .tabs-table__list-item {
    display: block;
  }

  .tabs-table__list-item-address {
    display: none;
  }


  .tabs-table__list-item div {
    margin-bottom: 15px;
  }

  .tabs-table__text {
    margin-bottom: 15px;
  }

  .tabs-table__container {
    padding-left: 0;
  }

  .tabs-table__tabs-scroll {
    overflow-x: scroll;
  }

  .tabs-table__tabs {
    display: block;
  }

  .mobile-overflow-box {
    display: block;
    width: 800px;
    padding-left: 10px;
  }

}

@media (max-width: 740px) {
  .catalog__fiter {
    display: block;
  }

  .catalog__fiter-pagination {
    margin-bottom: 25px;
  }

  .catalog__fiter-pagination {
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {

  .aside-btn {
    display: block;

  }

  .catalog__inner-aside {
    display: none;
  }

  .banner-section__slider {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section .container {
    padding: 0;
  }

  .banner-section__item {
    box-shadow: 3px 3px 20px rgb(50 50 50 / 25%);
    border: none;
  }

  .banner-section .slick-dots {
    bottom: 16px;
  }

  .footer__bottom {
    padding: 0;
    flex-wrap: wrap;
    justify-content: start;
  }

  .footer-list {
    display: none;
  }

  .footer {
    background-color: #F9F9FC;
  }

  .footer__top-title--border {
    position: relative;

    padding: 15px 0;

    border-bottom: 2px solid #F0F0F4;
    margin-bottom: 0;

  }

  .footer__top-title--border::before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/arrow-bottom.svg);
    width: 12px;
    height: 8px;
    display: block;
    bottom: 19px;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
    transform: rotate(0);
    transition: transform 0.2s;
  }

  .footer__top-title--border.footer__top-title-arrow--active::before {
    transform: rotate(180deg);
  }

  .footer__top-item {
    margin-bottom: 0;

  }

  .footer__top-item--social {
    margin-top: 25px;
  }

  .footer__top-form {
    margin-bottom: 25px;
  }

  .footer__top-title--border-top {
    border-top: 2px solid #F0F0F4;
  }

  .footer-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7F7F7F;
  }

  .social-list {
    justify-content: center;
  }

  .catalog__inner-item {
    margin-right: 0;
  }

  .catalog__inner {
    flex-wrap: wrap;
  }

  .tabs-wrapper--no-scroll {
    width: 100%;
  }

  .aside-filter__choice-select-box .aside-filter__title-arrow::before {

    left: 398px;

  }

  .tabs-table__input-btn::before {
    display: none;
  }


}


@media (max-width: 440px) {
  .banner-section__slider {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section .container {
    padding: 5px;
  }

  .search__content-btn {
    position: absolute;
    right: 15px;
    top: 13px;
    background-color: transparent;
    padding: 0;
    font-size: 0;
    background-image: url("../images/icons/search-black.svg");
    width: 24px;
    height: 24px;
  }

  .categories__img {
    max-width: 50%;
  }

  .categories__link {
    padding: 15px 8px;
  }

  .categories__item:not(:last-child) {
    margin-right: 0;
  }

  .title {
    text-align: center;
  }

  .footer__top-form {
    max-width: 100%;
  }

  .footer__top-label {
    width: 100%;
  }

  .footer__top-input {

    width: 100%;
  }

  .footer__bottom {
    font-size: 10px;
  }

  .footer__top-title--width {
    margin: 0 auto 30px;
    text-align: center;
  }

  .footer__top-btn {
    margin: 0;
  }

  .popular-products {
    margin-bottom: 40px;
  }

  .catalog__inner-product {
    justify-content: center;

  }

  .pagination__list-item:not(:last-child) {
    margin-right: 5px;
  }

  .product-page__title {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .product-page__img {
    margin-bottom: 0;

    max-height: 250px;
  }

  .tabs-table__form {

    padding-right: 0;


  }

  @media (max-width: 320px) {
    .catalog__inner-product {

      max-width: 290px;
    }
  }