@media (max-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .header__address {
    margin-right: 25px;
  }

  .banner-section__inner {
    justify-content: space-around;
  }

  .banner-section__slider {
    max-width: 600px;
    min-height: 380px;
  }

  .banner-section__slider-img {
    max-width: 600px;
    min-height: 380px;
    object-fit: cover;
  }
}

@media (max-width: 968px) {
  .header__bottom {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .header__top-inner {
    padding-top: 15px;
    min-height: 65px;
    margin-bottom: 10px;
  }

  .menu-list__wrapper {
    display: block;
  }

  .menu-list {
    display: inline-block;
  }

  .menu-mobile__address {
    margin-top: 50px;
    text-align: center;
  }

  .menu-mobile__address-link {
    font-weight: 700;
  }

  .header__address {
    display: none;
  }

  .banner-section__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section__slider {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .banner-section__slider-img {
    max-width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 640px) {
  .banner-section__slider {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section .container {
    padding: 0;
  }

  .banner-section__item {
    box-shadow: 3px 3px 20px rgb(50 50 50 / 25%);
    border: none;
  }
}

@media (max-width: 440px) {
  .banner-section__slider {
    min-height: 160px;
  }

  .banner-section__slider-img {
    min-height: 160px;
  }

  .banner-section__slider-img {
    min-height: 160px;
  }

  .banner-section .container {
    padding: 0;
  }
}