body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: inherit;
}

body {
  background-color: white;
  color: #2f3035;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.site {
  overflow: hidden;
}

.line-clamp {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
}

.page-section {
  margin-bottom: 80px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__box,
.user-list {
  display: flex;
}

.user-list {
  padding-right: 23px;
}

.header__address {
  position: relative;
  margin-right: 56px;
  padding-left: 30px;
}

.header__address-link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 6px;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/address-icon.svg");
  background-size: contain;
}

.user-list__item:not(:last-child) {
  margin-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  top: 10px;
  left: 24px;
  width: 20px;
  height: 20px;
  background-color: #1c62cd;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}


.menu-categories {
  margin-bottom: 50px;
  min-height: 53px;
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-categories__link {
  position: relative;
  padding: 15px 0;
  border-bottom: 3px solid transparent;
  transition: color 0.2s;
}

.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #1c62cd;
  transition: 0.2s;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-img {
  object-fit: cover;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  background-color: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.banner-section .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.banner-section .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.banner-section .slick-dots button {
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.banner-section .slick-dots button:hover {
  background-color: #1c62cd;
}

.banner-section .slick-active button {
  background-color: #fff;
}

.sale-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  transition: box-shadow 0.2s, border-color 0.2s, color 2s,
    background-color 0.2s;
}

.sale-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-color: transparent;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  align-items: flex-start;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 20px;
  color: #fff;
  background-color: #1c62cd;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
}

.sale-item__info {
  padding: 6px 20px;
  color: #fff;
  background-color: #1c62cd;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
}

.sale-item__prise {
  margin-right: 6px;
  text-align: right;
}

.prise {
  font-family: "Barlow", sans-serif;
}

.sale-item__prise-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1c62cd;
}

.sale-item__prise-old {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.sale-item__prise-old::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/old-line.svg");
  width: 61px;
  height: 20px;
  display: block;
  top: 0px;
  right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.sale-item__img {
  object-fit: contain;
}

.sale-item__title {
  max-width: 192px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto 7px auto;
}

.sale-item__footer {
  padding: 25px 20px;
  background-color: #f0f0f4;
  font-size: 18px;
}

.sale-item__footer-data {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #1c62cd;
  transition: color 0.2s;
}

.sale-item:hover .sale-item__footer-data {
  color: rgb(253, 6, 6);
}

.search__tabs {
  margin-bottom: 35px;
}

.search__tabs-btn {
  padding: 11px 26px;
  border-radius: 5px;
  border: 1px solid #ebe8e8;
  transition: box-shadow 0.2s;
}

.search__tabs-btn:hover {
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.25);
}

.search__tabs-btn.tab--active {
  background-color: #1c62cd;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.25);
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
  width: 100%;
}

.search__content-label {
  width: 100%;
}

.search__content-input {
  padding: 15px 20px;
  width: 100%;
  background-color: #f0f0f4;
  border-radius: 3px;
  border: none;
}

.search__content-input::placeholder {
  color: #656464;
  font-size: 16px;
}

.btn {
  padding: 17px 40px;
  border: none;
  background-color: #1c62cd;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.categories-mb {
  margin-bottom: 60px;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  max-width: 370px;
  width: 100%;
  margin-bottom: 30px;
}

.categories__link {
  padding: 20px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  transition: box-shadow 0.2s, border-color 0.2s;
}

.categories__link:hover {
  border-color: transparent;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 23px;
}

.categories__text {
  position: relative;
  padding-right: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.categories__text::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/check-mark.svg");
  width: 6px;
  height: 9px;
  display: block;
  top: 5px;
  left: 67px;
  background-repeat: no-repeat;
  background-size: contain;
}

.categories__img {
  object-fit: contain;
}

.popular-products__tab {
  padding-bottom: 10px;
}

.popular-products__tab:not(:last-child) {
  margin-right: 50px;
}

.popular-products__tab.tab--active {
  border-bottom: 2px solid #1c62cd;
}

.product-slider__inner {
  margin-bottom: 35px;
}

.product-slider__slider-btnprev {
  left: -50px;
}

.product-slider__slider-btnnext {
  right: -40px;
}

.product-card {
  position: relative;
  display: inline-block;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.2s, border-color 0.2s, color 0.2s;
  border-radius: 3px;
  width: 270px;
  min-height: 400px;
}

.product-card:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-color: transparent;
}

.product-card:hover .product-card__price {
  color: #1c62cd;
}

.product-card:hover .product-card__title {
  color: #1c62cd;
}

.product-card__link {
  padding: 50px 18px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card__hover {
  position: absolute;
  top: 130px;
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: opacity 0.5s;
}

.product-card:hover .product-card__hover {
  opacity: 1;
}



.product-card__btn-svg {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 0;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 55;
}

.product-card__btn-svg::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/heart-icon.svg");
  width: 30px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 65;
}

.product-card__btn-svg--active::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/heart-icon-active.svg");
  width: 30px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 65;
}

.popular-products__tabs {
  margin-bottom: 35px;
}

.product-card__img {
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.product-card__price {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.product-card__btn-basket {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: #1c62cd;
  border-radius: 10px 0px 0px 0px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  z-index: 60;
}

.product-card__btn-basket::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/basket-icon.svg");
  width: 30px;
  height: 23px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}

.product-card__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
}

.product-card.product-card__not-available .product-card__price {
  display: none;
}

.product-card.product-card__not-available .product-card__notify-text {
  display: block;
}

.product-card.product-card__not-available .product-card__btn-basket {
  display: none;
}

.popular-products__content {
  display: none;
}

.product-card__notify-link {
  display: none;
}

.product-card.product-card__not-available .product-card__notify-link {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  bottom: 25px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  color: #1c62cd;
  z-index: 99;
}

.popular-products__content.tabs-content--active {
  display: block;
}

.popular-products__more {
  display: block;
  margin: 0 auto;
  padding: 17px 43px;
  border: none;
  background-color: #f0f0f4;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.popular-products__more:hover {
  background-color: #1c62cd;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: #fff;
}

.footer {
  padding: 42px 0 27px;
  background-color: #f0f0f4;
}

.footer__top {
  margin-bottom: 40px;
  line-height: 17px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 295px;
}

.footer__top-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.footer__top-title--width {
  max-width: 250px;
  line-height: 22px;
}

.footer__top-form {
  display: flex;
  justify-content: space-between;
}

.footer__top-input {
  background-color: #fff;
  padding: 8px 12px;
  border: none;
}

.footer__top-input::placeholder {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.footer-list__link {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.footer__top-btn {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.12em;
  border-radius: 0;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  padding-left: 87px;
}

.footer__bottom-link {
  line-height: 12px;
  color: #48494d;
  font-size: 12px;
  line-height: 24px;
}

.footer__bottom-link:not(:last-child) {
  margin-right: 81px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/check-mark.svg");
  width: 6px;
  height: 9px;
  display: block;
  top: 5px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.catalog__fiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.catalog__fiter-btn {
  padding: 4px 22px;
  background-color: #f0f0f4;
  border-radius: 3px;
  opacity: 0.7;
}

.catalog__fiter-btn:not(:last-child) {
  margin-right: 8px;
}

.catalog__fiter-select {
  margin-right: 34px;
}

.catalog__btn {
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: text-top;
  opacity: 0.3;
}

.catalog__btn--active {
  opacity: 1;
}



.catalog__btn--grid {
  margin-right: 10px;
  background-image: url("../images/icons/btn-grid.svg");
}

.catalog__btn--line {
  background-image: url("../images/icons/btn-line.svg");
}

.catalog__inner {
  display: flex;
}

.catalog__inner-aside {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  width: 100%;
  flex-grow: 0;
  margin-right: 8px;
}

.catalog__inner-product {
  display: flex;
  max-width: 872px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: space-between;
}

.catalog__inner-item {
  margin-bottom: 30px;
  transition: all 0.5s;
}

.catalog__inner-item.catalog__inner-item--list {
  width: 100%;
  transition: width 0.5s;

}

.catalog__inner-item.catalog__inner-item--list .product-card {
  width: 100%;
  transition: width 0.5s;
}

.pagination {
  width: 100%;
}

.pagination__list {
  display: flex;
  justify-content: center;
}

.pagination__list-item {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 36px;
  border: 2px solid transparent;
  color: #c4c4c4;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.pagination__list-item.pagination__list-item--active {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 36px;
  border: 2px solid #1c62cd;
  color: #1c62cd;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.pagination__list-item:not(:last-child) {
  margin-right: 10px;
}

.pagination__list-link {
  display: block;
}

.aside-filter__tabs {
  display: flex;
  margin-bottom: 40px;
}

.aside-filter__tab {
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #c4c4c4;
  border-bottom: 2px solid transparent;
}

.aside-filter__tab:not(:last-child) {
  margin-right: 40px;
}

.aside-filter__tab.tab--active {
  font-weight: 700;
  color: #2f3035;
  border-bottom: 2px solid #1c62cd;
}

.aside-filter__item-drop {
  margin-bottom: 40px;
}

.aside-filter__title {
  display: inline-block;
  margin: 0;
  padding-left: 26px;
  font-weight: 600;
  font-size: 16px;
}

.aside-filter__title-arrow {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.aside-filter__title-arrow::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/arrow-bottom.svg");
  width: 12px;
  height: 8px;
  display: block;
  bottom: 8px;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
  transform: rotate(0);
  transition: transform 0.2s;
}

.aside-filter__title-arrow--active::before {
  transform: rotate(180deg);
}

.aside-filter__box {
  display: flex;
  justify-content: space-between;
}

.aside-filter__box--wrap {
  flex-wrap: wrap;
}

.aside-filter__label {
  width: 50%;
  font-size: 14px;
  cursor: pointer;
}

.aside-filter__search {
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.aside-filter__search::placeholder {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #bdbec2;
}

.aside-filter__link {
  display: flex;
  margin-top: 15px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #1c62cd;
}

.btn-more {
  display: flex;
  margin-top: 15px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #1c62cd;
}

.jq-checkbox,
.jq-radio {
  vertical-align: -2px;
  width: 14px;
  height: 14px;
  margin: 0 8px 0 0;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  box-shadow: none;
  background: #fff;
  opacity: 1;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background: #1c62cd;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  background-image: url("../images/icons/check.svg");
  border-bottom: none;
  border-left: none;
  border-radius: 0;
  transform: rotate(0);
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.irs--flat .irs-line {
  top: 30px;
  height: 1px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 28px;
  height: 4px;
  background-color: #1c62cd;
}

.irs--flat .irs-handle>i:first-child {
  position: absolute;
  display: block;
  top: 4px;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #1c62cd;
  margin-left: -1px;
  border-radius: 50px;
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
  background-color: #1c62cd;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 48px;
  padding-left: 20px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2f3035;
  background-color: transparent;
  z-index: 999;
  visibility: visible !important;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: #1c62cd;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  border-top-color: #1c62cd;
}

.irs--flat {
  margin-bottom: 60px;
}

.irs-min::before {
  position: absolute;
  content: "от";
  left: 0;
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}

.irs-max::before {
  position: absolute;
  content: "до";
  left: 0;
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}

.aside-filter__choice-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

.aside-filter__choice-box:not(:last-child) {
  margin-bottom: 30px;
}

.aside-filter__choice-title {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.catalog__fiter-sorting {
  display: flex;
  align-items: center;
}

.catalog__fiter-sorting .jq-selectbox__select {
  height: 100%;
  padding: 0 46px 0 20px;
  border: 1px solid #d7d9df;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2f3035;
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  background-image: url("../images/icons/arrow-bottom.svg");
  width: 12px;
  height: 8px;
}

.aside-filter__choice-box .jq-selectbox__select {
  height: 100%;
  padding: 0 46px 0 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-family: "SF Pro Display", sans-serif;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #48494d;
}

.jq-selectbox li:hover {
  background-color: #1c62cd;
  color: #fff;
}

.aside-filter__send-btn {
  margin: 0 auto 15px;
  display: block;
  padding: 15px 85px;
  background-color: #1c62cd;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
}


.aside-filter__reset-btn {
  display: block;
  margin: 0 auto;
  font-size: 13px;
  text-decoration-line: underline;
  color: #c4c4c4;
}

.btn-checkbox .aside-filter__label {
  position: relative;
  height: 25px;
  width: 60px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #bdbec2;
}

.btn-checkbox .btn-checkbox__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.btn-checkbox .jq-checkbox {
  height: 25px;
  width: 60px;
  background: #f0f0f4;
  border: none;
}

.btn-checkbox .jq-checkbox.checked~.btn-checkbox__text {
  color: #fff;
}

.btn-checkbox .jq-checkbox.checked {
  background: #1c62cd;
}

.btn-checkbox .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.aside-filter__choice-select-box .aside-filter__title-arrow::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/arrow-bottom.svg');
  width: 12px;
  height: 8px;
  display: block;
  bottom: 6px;
  left: 232px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
  transform: rotate(0);
  transition: transform 0.2s;
}

.aside-filter__choice-select-box .aside-filter__title-arrow--active::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/arrow-bottom.svg');
  width: 12px;
  height: 8px;
  display: block;
  bottom: 6px;
  left: 232px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.aside-filter__choice-select-box {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 13px;
}


.product-page__inner {
  display: flex;

}

.product-page__img-box {
  position: relative;
  padding-top: 40px;
  margin-right: 100px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 1px solid #C4C4C4;
  border-radius: 3px; */
}

.product-page__sale {
  padding: 15px 30px;
  font-size: 15px;
  letter-spacing: 0.12em;
  border-radius: 3px;
}

.product-page__img {
  margin-bottom: 25px;
  object-fit: contain;
}

.product-page__prise-old {
  position: relative;
  margin-bottom: 20px;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

}

.product-page__prise-old::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/line-black.svg');
  width: 127px;
  height: 26px;
  display: block;
  top: 1px;
  right: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-page__prise-new {
  margin-bottom: 20px;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #2F3035;
}

.product-page__prise-discount {
  font-size: 15px;
  color: #1C62CD;
}

.product-page__content {
  max-width: 480px;
  width: 100%;
}

.product-page__title {
  font-family: 'SF Pro Display', sans-serif;
  line-height: 36px;
  margin-bottom: 10px;
}

.product-page__code {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  color: #2F3035;
  opacity: 0.6;
}

.product-page__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-page__buttons-item:not(:last-child) {
  margin-right: 30px;
}

.product-page__btn {
  position: relative;
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;

}

.product-page__btn--favorite {
  display: block;
  background-image: url('../images/icons/heart-icon.svg')
}

.product-page__btn--rating {
  display: block;
  background-image: url('../images/icons/rating.svg')
}

.product-page__tabs {
  margin-bottom: 20px;
}

.product-page__tab {
  padding-bottom: 5px;
  opacity: 0.6;
}

.product-page__tab:not(:last-child) {
  margin-right: 30px;
}

.product-page__tab.tab--active {
  border-bottom: 2px solid #1C62CD;
  font-weight: 700;
  opacity: 1;
}

.product-page__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-page__item-left {
  padding-right: 15px;
}

.product-page__item-right {
  width: 125px;
}

.product-page__more {
  margin-bottom: 18px;
}

.product-page__item-btn {
  margin: 0;
  padding: 16px 50px;
  border-radius: 3px;
}

.tabs-table__tabs {
  display: flex;
  justify-content: space-around;
  padding: 22px 0 17px;
  margin-bottom: 50px;
  background-color: #F0F0F4;
}

.tabs-table__tab {
  padding: 0 5px 5px 0;
  color: rgba(0, 0, 0, 0.6);
}

.tabs-table__tab.tab--active {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid #1C62CD;
}



.tabs-table__container {
  padding-left: 30px;
}

.tabs-table__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
  margin-bottom: 50px;
}

.tabs-table__label {
  position: relative;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.tabs-table__label-text {
  margin-right: 17px;
}

.tabs-table__input-text {
  position: relative;
  padding: 9px 17px;
  width: 313px;
  background-color: #F0F0F4;
  border: none;
  border-radius: 3px;
}

.tabs-table__input-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 12px;
}

.tabs-table__input-btn::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/search-icon.svg');
  width: 16px;
  height: 16px;
  display: block;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}

.tabs-table__input-text::placeholder {
  color: #C4C4C4;
}

.tabs-table__label .checkbox.checked,
.jq-radio {
  width: 16px;
  height: 16px;
  background: transparent;
  border: none;
  border: 1.5px solid #58595c;
}

.tabs-table__label .checkbox.checked,
.jq-radio.checked {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1.5px solid #1C62CD;
}

.tabs-table__label .jq-radio.checked .jq-radio__div {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1C62CD;
  border: none;
}

.tabs-table__list-item {
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabs-table__list-item-address {
  padding-bottom: 0;
  margin-bottom: 30px;
  border: none;
}

.tabs-table__btn {
  padding: 10px 40px;
  text-transform: uppercase;
}

.tabs-table__text {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.7);
}

.tabs-table__address {
  width: 200px;
  margin-right: 100px;
}

.tabs-table__operating-mode {
  width: 157px;
  margin-right: 90px;
  line-height: 24px;
}

.tabs-table__operating-mode-box {
  display: flex;
  justify-content: space-between;
}

.tabs-table__available {
  width: 126px;
  margin-right: 100px;
}

.tabs-table__quantity {
  width: 130px;

}

.tabs-table__button {
  margin-left: auto;
}