html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: inherit;
}

img {
  display: block;
}

body {
  color: #2f3035;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__box,
.user-list {
  display: flex;
}

.user-list {
  padding-right: 23px;
}

.header__address {
  position: relative;
  margin-right: 56px;
  padding-left: 30px;
}

.header__address-link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 6px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/address-icon.svg);
  background-size: contain;
}

.user-list__item:not(:last-child) {
  margin-right: 10px;
}